// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

ul.users {
    margin: 0;
    padding: 0;

    li.user {
        list-style: none;
    }
}

.user-wrapper,
.message-wrapper {
    border: 1px solid #dddddd;
    overflow-y: auto;
}

.user-wrapper {
    height: 465px;
}

.user {
    cursor: pointer;
    padding: 5px 0;
    position: relative;

    &:hover {
        background: #eeeeee;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.pending {
    position: absolute;
    left: 13px;
    top: 9px;
    background: #b600ff;
    margin: 0;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    line-height: 18px;
    padding-left: 5px;
    color: #ffffff;
    font-size: 12px;
}

.media-left {
    margin: 0 10px;

    img {
        width: 64px;
        border-radius: 64px;
    }
}

.media-body {
    p {
        margin: 6px 0;
    }
}

.message-wrapper {
    padding: 10px;
    height: 400px;
    background: #eeeeee;

    ul.messages {
        list-style: none;

        .message {
            margin-bottom: 15px;

            &:last-child {
                margin-bottom: 0;
            }

            p {
                margin: 5px 0;
            }
        }
    }
}

.received,
.sent {
    width: 45%;
    padding: 3px 10px;
    border-radius: 10px;
}

.received {
    background: #ffffff;

    .date {
        color: #777777;
        font-size: 12px;
    }
}

.sent {
    background: #3bebff;
    float: right;
    text-align: right;
}

.active {
    background: #eeeeee;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 15px 0 0 0;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
    border: 1px solid #eeeeee;

    &:focus {
        border: 1px solid #aaaaaa;
    }
}